//  nav

#header{
	margin-bottom: 1rem;
}

#main-navbar{
    margin: 0 2rem;
}

.navbar-brand{
    font-size: 2rem;
}

.list__item{
    margin-left: 0.5rem;
}

.navbar-nav{
    display: flex;
    align-items: flex-end;
}